DISM/XML/XML Lectures/schema_sample.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.abc.com/XMLSchema">

<xs:element name="data">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="age" type="xs:int"/>
      <xs:element name="education" type="xs:string"/>
      <xs:element name="dob" type="xs:date"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>


<data>
	<name>	56	</name>
	<age>	30	</age>
	<education>	Graduate	</education>
	<dob>	1987-01-03	</dob>

</data>

</xs:schema>